<h2><%= @user.username %></h2>
<% if @user.image %>
  <img class="media-object" src="<%= @user.image %>" alt="<%= @user.username %>'s image">
<% else %>
  <img class="media-object" src="/images/default.png" alt="<%= @user.username %>'s image">
<% end %>
<p class="img-circle"><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>


<form method="get" action='/users/<%= @user.id %>/edit'>
  <button type="submit" class="btn btn-default">Edit</button>
</form>

<form method="post" action="/users/<%= @user.id%>">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>