<section class="second-header"> 
  <br>
  <br>
  <br>
  <h2>Edit Tutorial</h2>
 </section>
 <section class="container">
 <br>
 <br>
 <br>
<section class="container">
<form id="register" method="post" action="/tutorials/<%= @tutorial.id %>">
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label for="title">Title of Tutorial</label>
    <input name="tutorial[title]" type="text" class="form-control" id="title" placeholder="Title of Tutorial" value="<%= @tutorial.title %>">
  </div>
  <div class="form-group">
    <label for="tutorial[category_id]">What category should this tutorial be in?</label>
    <select name="tutorial[category_id]" class="form-control">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.title %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="tutorial[URL]">URL of tutorial</label>
    <input name="tutorial[URL]" type="text" class="form-control" id="URL" placeholder="URL" value="<%= @tutorial.URL %>">
  </div>
  <div class="form-group">
    <label for="tutorial[author]">Author of Tutorial</label>
    <input name="tutorial[author]" type="text" class="form-control" id="author" placeholder="Author" value="<%= @tutorial.author %>">
  </div>
  <div class="form-group">
    <label for="tutorial[description]">What do you like about this tutorial?</label>
    <input name="tutorial[description]" type="text" class="form-control" id="description" placeholder="Description" value="<%= @tutorial.description %>">
  </div>
  <div class="form-group">
    <label for="tutorial[difficulty]">Who is this tutorial for?</label>
    <input name="tutorial[difficulty]" type="text" class="form-control" id="difficulty" placeholder="Difficulty" value="<%= @tutorial.difficulty %>">
  </div>
  <div class="form-group">
    <label for="vote">Vote</label>
    <input name="tutorial[vote]" type="number" class="form-control" id="vote" placeholder="Vote">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</section>